
<ion-header >
  <ion-toolbar color="primary">
    <ion-title>Recuperar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="cardd">
  
    <ion-card-content>
      <ion-card-header>
        <ion-card-title>Recuperacion</ion-card-title>
      </ion-card-header>
      <form>
        <ion-item>
          <ion-label position="floating">Gmail</ion-label>
          <ion-input   name="username " ></ion-input>
        </ion-item>

        <br>
      </form>
      
      <ion-button [routerLink]="['/login']">Recuperar Contraseña</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
  
  