<ion-toolbar>
  <ion-buttons slot="secondary">
    <ion-button [routerLink]="['/login']"> 
      <ion-icon slot="icon-only" name="person-circle"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title>Registro de asistencia</ion-title>
</ion-toolbar>

<ion-content class="ion-padding">
  <ion-card>
    <img alt="Profesor" src="assets/Profesor.jpg"/>
    <ion-card-header>
      <ion-card-title>Profesora Eliza</ion-card-title>
      <ion-card-subtitle>Ingles</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Control de asistencia y informacion de la materia aca
      <br> 
      Elogiar Profesor profesora profesora Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, culpa voluptas dicta amet voluptatibus quod facilis ut harum quos aperiam quibusdam, corporis labore nostrum esse. Omnis similique distinctio dolor nulla? Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui ipsam, magnam commodi voluptatem, et dolor placeat voluptas amet dicta officia recusandae impedit odit fugiat at maiores accusantium nesciunt ex maxime.
      <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      
    </ion-card-content>
  </ion-card>
</ion-content>

<section>
  <div class="example-button-row">
    <div class="example-flex-container">
      <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
        <mat-icon>home</mat-icon>
      </button>
      <button mat-icon-button color="accent" aria-label="Example icon button with a menu icon">
        <mat-icon>menu Lorem ipsum dolor sit amet consectetur adipisicing elit. A modi, maxime maiores repellat amet quam, omnis, necessitatibus sequi fugiat officia quos expedita quibusdam. A ex cum voluptas adipisci architecto eligendi.</mat-icon>
      </button>
    </div>
  </div>
</section>
