<ion-header>
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button [routerLink]="['/login']"> 
        <ion-icon slot="icon-only" name="person-circle" #loginIcon></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Registro de asistencia {{user?.Gmail}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <img alt="Profesor" src="assets/programacion.jpg"  class="custom-image"/>
    <ion-card-header>
      <ion-card-title>App moviles</ion-card-title>
      <ion-card-subtitle>Profesor:</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Control de asistencia y informacion de la materia aca
      <br> 
      <ion-button type="submit" expand="full" color="warning" [routerLink]="['/qr']">Iniciar asistencia</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>

<section>
  <div class="example-button-row">
    <div class="example-flex-container">
      <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
        <mat-icon>home</mat-icon>
      </button>
      <button mat-icon-button color="accent" aria-label="Example icon button with a menu icon">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
  </div>
</section>